# The exact requirements of the oldest supported versions of the dependencies.
# This file is used in a GitHub Actions workflow to test the compatibility.
# This file needs to be manually updated to be consistent with
# `pyproject.toml`.
nextline==0.7.19
nextline-graphql==0.7.9
transitions==0.9.0
httpx==0.26.0
hypothesis==6.88.0
nextline-test-utils==0.1.0
pytest-asyncio==0.18.0
pytest-cov==3.0.0
pytest==8.2.1
pytest-httpx==0.29.0
deepdiff==7.0.0
