# The exact requirements of the latest versions of the dependencies. This file
# is used in a GitHub Actions workflow to test the compatibility with the
# latest versions of the dependencies. This file is monitored by Dependabot.
nextline==0.7.21
nextline-graphql==0.8.0
transitions==0.9.3
httpx==0.28.1
hypothesis==6.140.2
nextline-test-utils==0.1.2
pytest-asyncio==1.2.0
pytest-cov==7.0.0
pytest==8.4.2
pytest-httpx==0.35.0
deepdiff==8.6.1
